{:logseq-awesome-styler {:version "v3.7.1", :repo "yoyurec/logseq-awesome-styler", :effect true, :theme false}
 :logseq-plugin-gpt3-openai {:version "v1.13.1", :repo "briansunter/logseq-plugin-gpt3-openai", :effect true, :theme false}
 :logseq-smartblocks {:version "3.51", :repo "sawhney17/logseq-smartblocks", :effect false, :theme false}
 :logseq-hypothesis {:version "v0.2.4", :repo "c6p/logseq-hypothesis", :effect false, :theme false}
 :logseq-get-youtube-captions {:version "v1.2.0", :repo "briansunter/logseq-get-youtube-captions", :effect true, :theme false}
 :logseq-tabs {:version "v1.19.1", :repo "pengx17/logseq-plugin-tabs", :effect true, :theme false}
 :logseq-bullet-threading {:version "v1.1.4", :repo "pengx17/logseq-plugin-bullet-threading", :effect false, :theme false}
 :logseq-powertags-plugin {:version "1.0.4", :repo "hkgnp/logseq-powertags-plugin", :effect true, :theme false}
 :logseq-awesome-ui {:version "v2.2.6", :repo "yoyurec/logseq-awesome-ui", :effect true, :theme false}
 :logseq-pdf-export-plugin {:version "2.2.8", :repo "sawhney17/logseq-pdf-export", :effect true, :theme false}
 :logseq-awesome-links {:version "v1.15.16", :repo "yoyurec/logseq-awesome-links", :effect true, :theme false}
 :logseq-omnivore {:version "v1.13.0", :repo "omnivore-app/logseq-omnivore", :effect false, :theme false}
 :logseq-reference-styles {:version "v0.0.3", :repo "benjaffe/logseq-reference-styles", :effect false, :theme false}
 :logseq-mark-map {:version "v0.4.0", :repo "vipzhicheng/logseq-plugin-mark-map", :effect false, :theme false}
 :logseq-style-carousel {:version "v1.4.1", :repo "mlanza/logseq-style-carousel", :effect true, :theme false}
 :logseq-media-ts {:version "v0.14.3", :repo "sethyuan/logseq-plugin-media-ts", :effect true, :theme false}
 :logseq-batch-op {:version "v0.5.0", :repo "sethyuan/logseq-plugin-batch-op", :effect true, :theme false}
 :logseq-awesome-props {:version "v1.10.0", :repo "yoyurec/logseq-awesome-props", :effect true, :theme false}
 :logseq-kanban-board {:version "v1.9.4", :repo "sethyuan/logseq-plugin-kanban-board", :effect true, :theme false}
 :logseq-awesome-content {:version "v1.2.1", :repo "yoyurec/logseq-awesome-content", :effect true, :theme false}
 :logseq-link-unlinked {:version "v1.4.5", :repo "usoonees/logseq-plugin-link-unlink", :effect true, :theme false}
 :logseq13-full-house {:version "v3.1.1", :repo "stdword/logseq13-full-house-plugin", :effect true, :theme false}
 :logseq-copy-code-plugin {:version "v.1.2.0", :repo "vyleung/logseq-copy-code-plugin", :effect true, :theme false}
 :logseq-automatic-linker {:version "1.5.0", :repo "sawhney17/logseq-automatic-linker", :effect false, :theme false}
 :logseq-query-builder-plugin {:version "0.7", :repo "adxsoft/logseq-query-builder-plugin", :effect false, :theme false}
 :logseq-localassets-plugin {:version "1.6.5", :repo "hkgnp/logseq-localassets-plugin", :effect true, :theme false}
 :logseq-browser {:version "v1.1.2", :repo "haydenull/logseq-plugin-browser", :effect false, :theme false}
 :logseq-doc {:version "v1.17.0", :repo "sethyuan/logseq-plugin-doc", :effect true, :theme false}
 :logseq-block-to-page {:version "v1.3.0", :repo "hyrijk/logseq-plugin-block-to-page", :effect false, :theme false}
 :logseq-block-calendar {:version "v0.2.8", :repo "vipzhicheng/logseq-plugin-block-calendar", :effect true, :theme false}
 :logseq-find-and-replace {:version "v1.1.1", :repo "sawhney17/logseq-find-replace", :effect false, :theme false}
 :logseq-cuvee {:version "0.1.1", :repo "QWxleA/logseq-cuvee", :effect false, :theme false}
 :logseq-chatgpt-plugin {:version "v2.0.3", :repo "debanjandhar12/logseq-chatgpt-plugin", :effect true, :theme false}
 :logseq-bonofix-theme {:version "v3.8.6", :repo "sansui233/logseq-bonofix-theme", :effect false, :theme true}}
